@import url(//db.onlinewebfonts.com/c/105007d99d9df64c50cc24d696d79555?family=Graphik+Web+Regular);
body {
  margin: 0;
  padding: 0;
  font-family: "Graphik", sans-serif;
}
body a {
  text-decoration: none;
}
body ul {
  list-style: none;
  padding: 0;
}
body .container .top {
  background: #181818;
  height: 180vh;
  padding: 30px 0;
}
body .container .top .navbar {
  display: flex;
  align-items: center;
  padding: 0 150px;
}
body .container .top .navbar .toggle-button {
  display: none;
}
body .container .top .navbar .list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
body .container .top .navbar .list .link {
  width: 55px;
  padding: 0 10px;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
  margin: 0 31px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  transition: all 0.3s linear;
}
body .container .top .navbar .list .link:hover {
  background-color: #fff;
  color: #181818;
}
body .container .top .navbar .login {
  width: 119px;
  height: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  transition: all 0.3s linear;
}
body .container .top .navbar .login:hover {
  background-color: #fff;
  color: #181818;
}
body .container .top .top-text {
  width: 70%;
  margin: 50px auto;
  text-align: center;
}
body .container .top .top-text .text-title {
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 88px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
  margin: 10px 0;
}
body .container .top .top-text .text-description {
  width: 75%;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
  margin: 20px 0 100px 0;
}
body .container .top .top-text .buttons {
  display: flex;
  justify-content: center;
}
body .container .top .top-text .buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 178px;
  height: 65px;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
}
body .container .top .top-text .buttons .free {
  background: #4452FE;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  margin-right: 35px;
  transition: all 0.3s linear;
}
body .container .top .top-text .buttons .free:hover {
  background: #1d30ff;
}
body .container .top .top-text .buttons .learn-more {
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  transition: all 0.3s linear;
}
body .container .top .top-text .buttons .learn-more:hover {
  background: #fff;
  color: #181818;
}
body .container .top .bottom-img {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  background-image: url(../images/screens.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center 0;
}
body .container .top .bottom-img .bg-c {
  position: absolute;
  bottom: 0;
  height: 650px;
  width: 100%;
  display: inline-block;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0E0E0E 66.15%);
  z-index: 99;
}
body .container .section-title {
  text-align: center;
}
body .container .section-title .title-main-text,
body .container .section-title .title-description {
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}
body .container .section-title .title-main-text {
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin: 0;
}
body .container .section-title .title-description {
  font-size: 20px;
  line-height: 30px;
  width: 602px;
  margin: 10px auto;
}
body .container .features {
  height: 872px;
  background: #181818;
  padding: 62px 0 0 0;
}
body .container .features .feature-main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 150px;
}
body .container .features .feature-main .col-4 .column-row .text-block {
  margin-bottom: 70px;
}
body .container .features .feature-main .col-4 .column-row .text-block .title-row {
  display: flex;
  align-items: center;
}
body .container .features .feature-main .col-4 .column-row .text-block .title-row .text-block-title {
  padding-right: 50%;
  font-style: normal;
  margin: 0 0 0 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}
body .container .features .feature-main .col-4 .column-row .text-block .text-block-description {
  width: 59%;
  display: inline-block;
  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}
body .container .contents {
  padding: 200px 150px 0 150px;
  background-color: #181818;
}
body .container .contents .contents-main {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .container .contents .contents-main .col-6:nth-child(1) {
  margin-right: 33px;
}
body .container .contents .contents-main .col-6:nth-child(1) .contents-button {
  margin-top: 30px;
}
body .container .contents .contents-main .col-6:nth-child(2) .contents-button {
  margin-top: 15px;
  width: 190px;
}
body .container .contents .contents-main .col-6:nth-child(2) .img-block {
  bottom: -10px;
}
body .container .contents .contents-main .col-6 {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fff;
  width: 476px;
  height: 624px;
  position: relative;
  padding: 30px 0;
  border: 1px solid #D3D3D3;
  box-sizing: border-box;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
body .container .contents .contents-main .col-6 .img-block {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 30px;
  width: 100%;
}
body .container .contents .contents-main .col-6 .img-block img {
  display: inline-block;
  width: auto;
  height: auto;
}
body .container .contents .contents-main .col-6 .contents-title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1px;
}
body .container .contents .contents-main .col-6 .contents-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #5C5C5C;
  padding: 0 110px;
}
body .container .contents .contents-main .col-6 .contents-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 157px;
  height: 52px;
  background: #4452FE;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  transition: all 0.3s linear;
}
body .container .contents .contents-main .col-6 .contents-button:hover {
  background: #1d30ff;
}
body .container .gallery {
  padding: 150px 150px 44px 150px;
  background-color: #181818;
}
body .container .gallery .gallery-row {
  display: flex;
  margin-top: 44px;
}
body .container .gallery .gallery-row .gallery-img {
  border-radius: 12px;
  margin-right: 33px;
}
body .container .gallery .gallery-row .gallery-img img {
  border-radius: 12px;
}
body .container .gallery .row-1 {
  justify-content: center;
}
body .container .gallery .row-1 .gallery-img-4 {
  margin: 0;
}
body .container .gallery .row-2 {
  margin-top: 44px;
  justify-content: center;
}
body .container .gallery .row-2 .gallery-img-7 {
  margin: 0;
}
body .container .gallery .see-more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 159px;
  height: 52px;
  border: 1px solid #FFFFFF;
  color: #fff;
  box-sizing: border-box;
  transition: all 0.3s linear;
  margin: 44px auto;
}
body .container .gallery .see-more:hover {
  background: #fff;
  color: #181818;
}
body .container .partners {
  background-color: #181818;
  padding: 0 150px 100px 150px;
  justify-content: center;
}
body .container .partners .partners-brands {
  margin: 60px auto;
  display: flex;
  justify-content: center;
}
body .container .partners .partners-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 176px;
  height: 52px;
  border: 1px solid #FFFFFF;
  color: #fff;
  box-sizing: border-box;
  transition: all 0.3s linear;
  margin: 44px auto;
}
body .container .partners .partners-button:hover {
  background: #fff;
  color: #181818;
}
body .container .testimonials {
  background-color: #181818;
  padding: 0 150px 100px 150px;
}
body .container .testimonials .testimonials-main {
  margin-top: 44px;
}
body .container .testimonials .testimonials-main .user-row {
  display: flex;
  justify-content: center;
}
body .container .testimonials .testimonials-main .user-row .user-info-card {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 304px;
  border: 1px solid #DEDEDE;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 40px 84px 40px 40px;
}
body .container .testimonials .testimonials-main .user-row .user-info-card .user {
  display: flex;
}
body .container .testimonials .testimonials-main .user-row .user-info-card .user img {
  width: auto;
  height: auto;
}
body .container .testimonials .testimonials-main .user-row .user-info-card .user .user__ {
  margin-left: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .container .testimonials .testimonials-main .user-row .user-info-card .user .user__ h5,
body .container .testimonials .testimonials-main .user-row .user-info-card .user .user__ p {
  margin: 0;
}
body .container .testimonials .testimonials-main .user-row .user-info-card .user .user__ h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}
body .container .testimonials .testimonials-main .user-row .user-info-card .user .user__ p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}
body .container .testimonials .testimonials-main .user-row .user-info-card .user-info {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #fff;
}
body .container .testimonials .testimonials-main .user-row .user-info-card-1 {
  height: 328px;
}
body .container .testimonials .testimonials-main .user-row .user-info-card-2 {
  margin-left: 23px;
}
body .container .testimonials .testimonials-main .user-row .user-info-card-3 {
  margin-top: 20px;
  margin-right: 23px;
}
body .container .openType {
  padding: 70px 150px;
  background-color: #181818;
}
body .container .openType .openType-main {
  display: flex;
  background-color: #343434;
  border-radius: 33px;
  position: relative;
  height: 365px;
}
body .container .openType .openType-main .openType-text {
  display: inline-block;
  padding: 74px 0 0 60px;
}
body .container .openType .openType-main .openType-text .openType-title {
  width: 380px;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 62px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin: 0;
}
body .container .openType .openType-main .openType-text .try-for-free {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 202px;
  height: 52px;
  margin-top: 37px;
  background-color: #4452FE;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}
body .container .openType .openType-main .openType-img {
  position: absolute;
  right: 0;
  bottom: -3px;
}
body .container .openType .openType-main .openType-img img {
  border-radius: 0 0 33px 0;
}
body .container .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #181818;
  padding: 107px 150px;
}
body .container .footer .col-3 .link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  margin-bottom: 40px;
  display: inline-block;
}
body .container .footer .col-3 .list {
  margin-right: 97px;
}
body .container .footer .col-3 .list .link {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin-bottom: 19px;
}
body .container .footer .contact-us {
  margin-left: auto;
}
body .container .footer .contact-us .list .icon-row {
  display: flex;
  align-items: center;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin-bottom: 10px;
}
body .container .footer .contact-us .list .icon-row img {
  margin-right: 8px;
}
body .container .footer .contact-us .icons {
  display: flex;
  margin-top: 30px;
}
body .container .footer .contact-us .icons .footer-icon {
  margin-right: 29px;
}

@media (min-width: 375px) and (max-width: 768px) {
  .container .top {
    height: 180vh;
    padding: 30px 0;
  }
  .container .top .navbar {
    align-items: center;
    padding: 0 34px !important;
  }
  .container .top .navbar .toggle-button {
    display: inline-block !important;
    width: 44px;
    height: 58px;
    text-align: right;
    position: fixed;
    cursor: pointer;
    right: 33px;
    z-index: 9999;
  }
  .container .top .navbar .toggle-button .line {
    display: inline-block;
    width: 100%;
    height: 4.5px;
    background-color: #fff;
    transition: all 0.3s linear;
  }
  .container .top .navbar .toggle-button .line-2 {
    width: 60%;
  }
  .container .top .navbar .toggle-button .line-3 {
    width: 30%;
  }
  .container .top .navbar .toggle-button:hover .line-2,
.container .top .navbar .toggle-button:hover .line-3 {
    width: 100%;
  }
  .container .top .navbar .list {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background-color: #000;
  }
  .container .top .navbar .list .link {
    width: auto !important;
    padding: 0 10px;
    height: 55px !important;
    margin: 20px 31px !important;
    font-size: 48px !important;
    transition: all 0.3s linear;
  }
  .container .top .navbar .list .link:hover {
    background-color: #fff;
    color: #181818;
  }
  .container .top .top-text {
    width: 70%;
    margin: 50px auto;
    text-align: center;
  }
  .container .top .top-text .text-title {
    font-style: normal;
    font-weight: 500;
    font-size: 52px !important;
    line-height: 62px !important;
    text-align: center;
    letter-spacing: 0.2px !important;
  }
  .container .top .top-text .buttons {
    display: inline-block !important;
    justify-content: center;
  }
  .container .top .top-text .buttons a {
    font-size: 17px;
    line-height: 25px;
  }
  .container .top .top-text .buttons .free {
    margin-right: 0 !important;
    margin-bottom: 21px;
  }
  .container .top .bottom-img {
    background-size: 170% !important;
  }
  .container .section-title .title-description {
    font-size: 20px;
    line-height: 30px;
    width: 75% !important;
    margin: 10px auto;
  }
  .container .features {
    height: 1320px !important;
    background: #181818;
    margin: 70px 0 0 0;
    padding: 80px 0 0 0 !important;
  }
  .container .features .feature-main {
    display: inline-block !important;
    padding: 50px 34px !important;
  }
  .container .features .feature-main .col-8 {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .container .features .feature-main .col-8 img {
    width: 364px !important;
    height: 359px !important;
  }
  .container .features .feature-main .col-4 {
    width: 50%;
    margin: 40px auto 0;
  }
  .container .features .feature-main .col-4 .column-row .text-block {
    margin-bottom: 70px;
  }
  .container .features .feature-main .col-4 .column-row .text-block .title-row .text-block-title {
    padding-right: 0 !important;
    display: block !important;
  }
  .container .features .feature-main .col-4 .column-row .text-block .text-block-description {
    width: 100% !important;
  }
  .container .contents {
    padding: 40px 34px 0 34px !important;
  }
  .container .contents .contents-main {
    display: inline-block !important;
  }
  .container .contents .contents-main .col-6:nth-child(1) {
    margin-top: 44px !important;
    margin-bottom: 33px !important;
  }
  .container .contents .contents-main .col-6 {
    width: 80% !important;
    margin: 0 auto !important;
    height: 563px !important;
  }
  .container .contents .contents-main .col-6 .img-block img {
    width: 85% !important;
    height: 85% !important;
  }
  .container .contents .contents-main .col-6 .contents-description {
    padding: 0 55px !important;
  }
  .container .gallery {
    padding: 150px 34px 44px 34px !important;
  }
  .container .gallery .gallery-row {
    flex-direction: column;
    justify-content: center;
    margin-top: 44px;
  }
  .container .gallery .gallery-row .gallery-img {
    width: 329px;
    height: 285px;
    overflow: hidden;
    position: relative;
    margin: 0 auto 33px !important;
  }
  .container .gallery .gallery-row .gallery-img img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 150%;
  }
  .container .gallery .row-1 {
    justify-content: center;
  }
  .container .gallery .row-1 .gallery-img-4 {
    margin: 0 auto 33px !important;
  }
  .container .gallery .row-2 {
    margin-top: 0 !important;
    justify-content: center;
  }
  .container .gallery .row-2 .gallery-img-7 {
    margin: 0;
  }
  .container .gallery .see-more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 159px;
    height: 52px;
    border: 1px solid #FFFFFF;
    color: #fff;
    box-sizing: border-box;
    transition: all 0.3s linear;
    margin: 44px auto;
  }
  .container .gallery .see-more:hover {
    background: #fff;
    color: #181818;
  }
  .container .partners {
    padding: 0 34px 100px 34px !important;
  }
  .container .partners .partners-brands {
    margin: 60px auto;
    display: flex;
    justify-content: center;
  }
  .container .partners .partners-brands img {
    width: 100%;
  }
  .container .testimonials {
    padding: 0 34px 100px 34px !important;
  }
  .container .testimonials .testimonials-main .user-row {
    display: block !important;
    margin: 0 auto !important;
  }
  .container .testimonials .testimonials-main .user-row .user-info-card {
    display: block !important;
    margin: 23px auto !important;
    width: 352px !important;
    height: 376px !important;
  }
  .container .openType {
    padding: 70px 34px !important;
  }
  .container .openType .openType-main {
    display: inline-block !important;
    height: 565px !important;
    text-align: center;
  }
  .container .openType .openType-main .openType-text .try-for-free {
    margin: 37px auto 0;
  }
  .container .openType .openType-main .openType-img {
    position: absolute;
    right: 0;
    bottom: -3px;
  }
  .container .openType .openType-main .openType-img img {
    border-radius: 0 33px 33px !important;
    width: 101% !important;
    height: 101% !important;
    margin-left: -2px;
  }
  .container .footer {
    display: inline-block !important;
    padding: 107px 34px !important;
    width: 87.2% !important;
  }
  .container .footer .col-3 {
    width: 319px;
    margin: 0 auto;
  }
}
@media (min-width: 375px) and (max-width: 410px) {
  .openType-main {
    width: 100%;
  }
  .openType-main .openType-text {
    padding: 50px 0 0 0 !important;
    width: 100%;
  }
  .openType-main .openType-text .openType-title {
    width: 100% !important;
  }
}
@media (min-width: 411px) and (max-width: 548px) {
  .features {
    margin-top: 145px !important;
  }

  .openType-main {
    width: 100%;
  }
  .openType-main .openType-text {
    padding: 50px 20px 0 !important;
    width: 95% !important;
  }
  .openType-main .openType-text .openType-title {
    width: 100% !important;
  }
}
@media (min-width: 549px) and (max-width: 768px) {
  .openType .openType-text {
    padding: 34px 0 0 30px !important;
  }

  .contact-us {
    margin-left: 50px !important;
  }
}

/*# sourceMappingURL=main.css.map */
