@import url(//db.onlinewebfonts.com/c/105007d99d9df64c50cc24d696d79555?family=Graphik+Web+Regular);
body {
    margin: 0;
    padding: 0;
    font-family: 'Graphik', sans-serif;
    a {
        text-decoration: none;
    }
    ul {
        list-style: none;
    }
    .container {
        .top {
            background: #181818;
            height: 250vh;
            .navbar {
                padding: 30px 150px;
                display: flex;
                align-items: center;
                .list {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    margin: 0 auto;
                    .link {
                        width: 55px;
                        padding: 0 10px;
                        height: 35px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        flex: none;
                        order: 0;
                        align-self: center;
                        flex-grow: 0;
                        margin: 0px 31px;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                        letter-spacing: 0.2px;
                        color: #FFFFFF;
                        order: 0;
                        transition: all .3s linear;
                        &:hover {
                            background-color: #fff;
                            color: #181818;
                        }
                    }
                }
                .login {
                    width: 119px;
                    height: 42px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    border: 1px solid #FFFFFF;
                    color: #FFFFFF;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    transition: all .3s linear;
                    &:hover {
                        background-color: #fff;
                        color: #181818;
                    }
                }
            }
        }
    }
}